*,html
{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

body
{
    max-width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    overflow-x: hidden;
}

header
{
height: 100%;
line-height: 100%;
}

ul
{
    list-style: none;
    margin: 0px !important;
}

nav.navbar{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
 }

header nav
{
    float: right;
    padding-bottom: 0px;
}

.logo
{
    margin-right: 50px;
    margin-left: 10px;
    height: 50px;
    width: 50px;
}

header nav ul li a
{
    padding-right: 20px;
    font-weight: bold;
    color: whitesmoke;
    transition: all 0.5s ease-in-out;
}


header nav ul li a:hover
{
    text-decoration: none;
    color: grey;
}

#grad {
    /*background-image: linear-gradient(to top right, #0F2027, #203A43, #2C5364);*/
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #272727, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #272727, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


background: -moz-linear-gradient(to right, #272727, #000000); /* FF 3.6+ */  
    background: -ms-linear-gradient(to right, #272727, #000000); /* IE10 */  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #272727), color-stop(100%, #000000)); /* Safari 4+, Chrome 2+ */  
    background: -o-linear-gradient(to right, #272727, #000000); /* Opera 11.10 */  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#272727', endColorstr=#000000); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#272727', endColorstr=#000000)"; /* IE8+ */  
    background: linear-gradient(to right, #272727, #000000); /* the standard */  
    z-index: 1;
}

.home
{
    background: url(..//images/background-game.png) no-repeat center center fixed;

    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    height: 960px;
}

.home h1
{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    margin-top: -510px;
    vertical-align: middle;
    text-align: center;
}

.home p{
    font-size: 0.9em;
    
    position: absolute;

    margin-top: 340px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#HomeEmail
{
    color: whitesmoke;
    transition: all 0.5s ease-in-out;
    
}

#HomeEmail:hover
{
    text-decoration: none;
    color: grey;
}

.about h1
{
    color: black;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.about
{
padding-left: 5%;
padding-top: 5%;
}

.about h2 
{   
    text-align: left;
    color: orange;
    transition: all 0.5s ease-in-out;
}

.aboutimg
{
    align-items: center;
    height: 100%;
    width: 100%;
}

.AboutMeText
  {
      margin-right: 5%;
  }

.projects h1
{
    color: black;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}


h2 a
{
   padding-top: 20px;
   color: orange;
}

h2 a:link, h2 a:visited, h2 a:active
{
    color: orange;
}

h2 a:hover
{
    color: dodgerblue;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

}

ul li
{
    display: inline-block;
}

.column
{

    padding-bottom: 5%;
    width: 50%;
    justify-items: space-evenly;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    margin: auto;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  div.box
  {
    object-fit: cover;
    box-sizing: border-box;
    width: 90%;
    border: 5px solid white;
    padding: 5% 5% 5% 5%;
  }

  
.projects
{
    padding-left: 5%;
    padding-top: 5%;
}

.projects h2 
{   
    text-align: center;
    color: orange;
    transition: all 0.5s ease-in-out;
}

.static
{
    display: block;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background: white;
}

.static:hover{
    opacity:0;
}

.projectgif
{
   
    align-items: center;
    height: 100%;
    width: 100%;
}

.contact h1
{
    margin-left: 4%;
    color: black;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.contact a
{
    padding-right: 20px;
    font-weight: bold;
    color: whitesmoke;
    transition: all 0.5s ease-in-out;
}


.contact a:hover
{
    text-decoration: none;
    color: grey;
}

.contact
{
    /**background-color: rgb(37, 37, 37);*/
    background: url(..//images/background-game.png) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    
}

.contact p{
    margin-left: 9%;
}

/** unused section
.slider h1
{
    color: black;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    margin-top: 450px;
}

.slider ul,.slider ul li
{
    height: 900px;
    width: 100%;
    text-align: center;
}
.slider
{
    height: 100%;
    width: 100%;
    text-align: center;
}

.slider h2
{
    font-weight: bold;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    color: orange;
}

.slider span
{
    color: orange;
}

.slider a
{
    padding: 10px 40px;
    background-color: orange;
    margin-right: 10px;
}

.slider a.btn-half:hover
{
    background-color: dodgerblue;
}


.img2
{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(..//images/background-mobile.jpg);
    background-size: 100% 100%;
}

.img3
{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(..//images/background-hardware.jpg);
    background-size: 100% 100%;
}

*/